/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* ROOT */

:root{
    --white-color:#ffffff;
    --player-dark:#282828;
    --player-bar: #5A5A5A;
    --active-bar: #C1C1C1;
    --black-color: #000000;
    --main-dark: #141922;
    --brand-green: #ADFF2F;
    --light-icon: #D2D2D2;
    --dark-icon: #A3A3A3;
    --medium-text :#808080;
    --dark-text: #6E6E6E;
    --nav-grey: #7D7F84;
    --banner-heigth: 90px;



}




/* LAYOUT */

.viewport{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-page{

    display: flex;
    flex-grow: 1;

}


.player{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0  10px;
    color: var(--white-color) ;
    background-color: var(--player-dark);
    flex-shrink: 0;
}


.side-bar{
    width: 50px;
    flex-shrink: 0;
    height: 100%;
}

.main-content{
    flex-grow: 1;
    display: block;
    overflow: auto;

}


/* widget */

.all-bar{
    flex-grow: 1;
    height: 4px;
    border-radius: 999px;
    background-color: var(--player-bar);
    display: block;
}

.complete-bar{
    width: 20%;
    background-color:var(--active-bar);
    height: 4px;
    border-radius: 999px;
}







/* PLAYER */

.current-play{
    display: flex;
    align-items: center;
    gap: 10px ;
    font-size: 10px;
}

.current-img img{
    aspect-ratio: 1 / 1;
    max-width: 28px;
    display: block;
    object-fit: cover;
    object-position: center;
}

.current-cta{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 16px;
    color: var(--medium-text);
}



.brano-name{
    font-size: 8px;
    color: var(--medium-text);
}

.play-action{
    width: 100%;
    
}

.btn-player{
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
}

.play-pausa{
    font-size: 30px;
    margin: 0 5px;
    position: relative;
}

.pause{
    display: none;
    
}


.play-pausa:active .pause{
    display: block;
    
}

.play-pausa:active .play{
    display: none;
}



.time-status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
}

.time-bar{
    flex-grow: 1;
    
}

.device-option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 10px;
}

.volume-status{
    width: 80px;
}


.current-play,
.play-action,
.device-option{
    flex-shrink: 1;
}


.current-play,
.device-option{
    max-width: 140px;
    display: none;
}


.current-play,
.play-action{
    margin-right: 15px;
    
}



/* SIDE BAR */

.side-bar{
    background-color: var(--black-color);
    display: flex;
    flex-direction: column;
    color: var(--dark-text);
    z-index: 10;
}

.main-menu img{
    max-width: 22px;
}

.main-menu,
.playlist{
    font-size: 14px;
}

.main-menu >*{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin:10px 15px ;
}


.small-logo{
    width: 30px;
    aspect-ratio: 1 / 1;
    margin: 5px 10px;
    display: block;
}

.new-playlist{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;

}
.new-playlist i{
    font-size: 35px;
    color: var(--light-icon);
}

.playlist ul{
    line-height: 20px;
}

.big-logo{
    width: 140px;
    display: none;
}



.cta-install img {
    max-width: 12px; 
}

.cta-install{
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 18px;
}

.user{
    margin-top: auto;
}

.current-user{
    display: flex;
    align-items:center ;
    gap: 10px;
    margin: 10px 12px;
    padding: 13px 0;
    border-top: 2px solid var(--medium-text);
}
.current-user img{
    height: 25px;
    width: 25px;
    border-radius: 999px;
    background-color: var(--medium-text);
    object-fit: cover;
    object-position: top;
}


.username{
    color: var(--white-color);
}


.md{display: none;
}

/* main content layout */ 

.main-content{
    background-color: var(--main-dark);
    color: var(--white-color);
    position: relative;
}

/* main content nav */

.main-content-nav{
    margin: 0 auto;
    padding: 0 10px;
    padding-top:calc(20px + (var(--banner-heigth))) ;
    
}
.nav-elements{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:  35px 20px;
    font-weight: 700;
    font-size: 14px;
    color: var(--nav-grey);
}

.main-content-nav a{
    position: relative;
}
 
.main-content-nav a:hover::after {
    content: "";
    display: block;
    height: 2px;
    width: 40px;
    background: var(--brand-green);
    margin: 0 auto; 
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.main-content-nav a:hover{
    color: var(--white-color);
}

/* banner */

.banner{
    height: var(--banner-heigth);
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--white-color);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: end;
    z-index: 5;
}

.update-btn{
    padding: 10px 20px;
    border: 1px solid var(--white-color);
    border-radius: 999px;
    margin-top: 20px;
    margin-right: 20px;

}

.update-btn:hover {
    scale: 1.2;
    margin-right: 40px;
}


/* main */
.main{
    height: 100%;
    width: 100%;
    
}

.section{
    margin-top: 40px;
}

.container{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-12{
    width: 100%;
    padding-bottom: 30px;
}
.col{
    width: 50%;
}
.card{
    text-align: center;
    padding: 10px;
}

.card img{
    width: 100%;
}

.popular img{
    border-radius: 999px;
    object-fit: cover;
    object-position: top;
}


.figure {
    position: relative;
}

.figure:hover::after{
    content: url(../img/play-circle-regular.svg);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    filter: invert(1);
    scale: 0.5;

}

.figure:hover::before{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);

}

.popular .figure:hover::before{
border-radius: 999px;

}

.overflow{
    overflow: auto;
}

/* ================================ media quesries =============================== */

/* *************** xs *********************************** */
@media (min-width: 490px){

    
    .player{
        justify-content: space-between;
    }

    .current-play,
    .device-option{
        max-width: 140px;
        display: flex ;
    }

    .play-action{
        width: 50%;
        
    }

}




/* ************** SMALL *************** */

@media (min-width:576px){

    /* player */


    .current-img img{
        max-width: 42px;
    }
    

    .current-cta{
        flex-wrap: nowrap;
    }



    /* side bar */

    .side-bar{
        width: 230px;
    }

    .big-logo{
        display: block;
    }

    .small-logo{
        display: none;
    }
    .md{
        display: block;
    }
    
    .main-menu >*{
        gap: 10px;
        border-left: 4px solid var(--black-color);
        margin:0;
        padding: 10px 20px 10px 16px;
    }
    
    .home{
        border-color: var(--brand-green);
    }
    
    .cta-install {
        margin-left: 25px;
    }
    
    .current-user{
        margin: 10px 20px;
    }
    
    
    .logo,
    .playlist{
        padding: 20px;
    }
    
    

}





/* ****************************** MEDIUM ************************* */

@media (min-width: 768px){

    .col{
        width: calc(100% / 4);
    }
    

}





/* *********************** LARGE ************************** */


@media (min-width: 992px){
    .col{
        width: calc(100% / 6);
    }

}



